/*CSS*/
.body{
    margin: 0px;
    font-family: Arial, sans-serif;
  }
  /*Navbar code*/
  .Navbar ul{
    list-style-type: none;
    background-color: #090707;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 50px; /* Set the height of the navbar */
  }
  .Navbar .logo {
    margin-right: auto; /* Pushes other items to the right */
  }
  .Navbar img{
    height: 100%; /* Makes the image take the full height of the navbar */
    width: 50px; 
  }
  .Navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
  }
  .Navbar a:hover{
    color: red;
    cursor: pointer;  
  }
  .Navbar li{
    float: left;
  }
  /*Home code*/
  .MainMenu {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); /* Full height minus the navbar height */
  }
  
  .security-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire section */
  }
  
  .security-text {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    text-align: right;
    max-width: 400px;
  }
  
  .security-text h1 {
    font-size: 3em;
    margin: 0 0 20px;
  }
  
  .security-text p {
    font-size: 1.5em;
    margin: 0;
  }
  /*Defines the red class*/
  .Red {
    color: red;
  }
  