@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
}
body {
    display: flex;
    flex-direction: column;
}
.Navbar ul{
    list-style-type: none;
    background-color: rgb(26, 24, 24);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 50px; /* Set the height of the navbar */
  }
  .Navbar .logo {
    margin-right: auto; /* Pushes other items to the right */
  }
  .Navbar img{
    height: 100%; /* Makes the image take the full height of the navbar */
    width: 50px; 
  }
  .Navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
  }
  .Navbar a:hover{
    color: red;  
  }
  .Navbar li{
    float: left;
  }
header {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.Red{
    color: red;
}
.mainHeading h1{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
.mainHeading h3{
    margin-inline: 5%;
    margin-bottom: 0px;
}
.mainHeading{
    margin-bottom: 3.5%;
}

.review-block{
    /* width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    min-height: calc(100vh - 100px); Ensures footer stays at the bottom */
    background-color: #111;
    padding-inline: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width:90%;
    margin: 0 auto;
}
.review-block h4{
    font-size: 20px;
}
.answers{
    margin-inline: 5%;
    background-color: #333;
    border-radius: 10px;
    padding:20px;
}

footer {
    background-color: #111;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}

footer p {
    margin: 0;
    color: #888;
}

#social-media a {
    color: #888;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

#social-media a:hover {
    color: #FFF;
}