@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* General body layout */
body {
    font-family: Arial, sans-serif;
    background-color: #1C1B1B;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* Main content wrapper to push footer to the bottom */
main {
    flex: 1; /* Ensures content takes up remaining space, pushing the footer down */
}

/* Navbar styling */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(26, 24, 24);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.Navbar .logo {
    margin-right: auto;
}

.Navbar img {
    height: 100%;
    width: 50px;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.Navbar a:hover {
    color: red;
}

.Navbar li {
    float: left;
}

/* Header styles */
header {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

/* Name section */
.name-section {
    display: table;
    left: 0;
    margin-top: auto;
    width: 100%;
}

.name-block {
    display: table-cell;
    vertical-align: middle;
}

.name-block h1, .name-block h2 {
    margin-right: 5%;
    margin-left: auto;
    width: fit-content;
    min-height: fit-content;
    display: block;
}

#name {
    color: red;
}

/* Footer styling */
footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: auto; /* Ensures footer is pushed to the bottom */
}

footer p {
    margin: 0;
    margin-bottom: 7px;
}

#social-media a {
    color: #888;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

#social-media a:hover {
    color: #FFF;
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

/* Show scrollbar on hover */
.scrollable:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    border-radius: 10px;
    width: 5%;
}


.report-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.report-box{
    padding: 10px;
}

.report-box h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
}

.generate-report-btn {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.generate-report-btn:hover {
    background-color: darkred;
}

footer {
    background-color: #111;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    color: #FFFFFF;
}

footer p {
    margin: 0;
    margin-bottom: 7px;

}

#social-media a {
    color: #888;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

#social-media a:hover {
    color: #FFF;
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
    width: 10px; /* or you can set a smaller width, like 4px */
    height: 0px; /* for horizontal scrollbar */
}

/* Show scrollbar on hover */
.scrollable:hover::-webkit-scrollbar {
    width: 8px; /* Adjust width as per your design */
    height: 8px; /* Adjust height for horizontal scrollbar */
    /* background-color: #1a1a1a; */
}

/* Customize the scrollbar thumb (the part you can drag) */
::-webkit-scrollbar-thumb {
    background-color: #2c2c2c; /* Darker color on hover */
    border-radius: 10px;
    width: 5%;
}